.even-row {
    background-color: #ffffff;
}

/* .odd-row {
    background-color: #101010;
} */

p {
    color: #000000; /* เปลี่ยนสีตัวหนังสือเป็นสีดำ */
}

*{
    font-family: 'Noto Sans Thai', sans-serif;
    color: #ffffff;
}

.about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about_section .img_container .img-box img {
    width: 100%;
  }

  .about_section .detail-box {
    background-color: #ffffff;
    padding: 45px 25px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-left: -45px;
  }

  .about_section .detail-box p {
    margin-top: 5px;
  }

  .about_section .detail-box a {
    display: inline-block;
    padding: 10px 35px;
    background-color: #f1db25;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    text-transform: uppercase;
  }

  .about_section .detail-box a:hover {
    background-color: transparent;
    border-color: #f1db25;
    color: #f1db25;
  }

  .portfolio img {
    width: 100%; /* ทำให้ภาพมีความกว้างเต็มขอบของพื้นที่ที่ระบุไว้ */
    height: 250px; /* ให้สูงของภาพปรับอัตโนมัติตามอัตราส่วนของภาพ */
  }

  .navbar {
    box-shadow: none;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* ตั้งค่า z-index เพื่อให้ Navbar อยู่ข้างหน้าสุด */
    background-color: transparent; /* ลบพื้นหลัง */
}


        .navbar.is-scroll {
            background-color: rgba(251, 232, 166, 0);
        }

        .navbar-brand img {

            width: 130px;
            /* กำหนดความกว้างของภาพ */
            height: 70px;
            /* ให้สูงของภาพปรับอัตโนมัติเพื่อรักษาสัดส่วน */
        }

        /* จัดเรียงเมนูไปด้านขวา */
        .navbar-nav {
            margin-left: auto;
        }

        .navbar-nav .nav-item {
            margin-left: 10px;
            /* ระยะห่างระหว่างเมนู */
        }

        .navbar-nav .nav-link {
    color: #101010; /* เปลี่ยนสีตัวหนังสือในเมนูเป็นสี warning */
}
        /* ปิดการใช้งาน sticky เมื่อเป็นมือถือ */
        @media (max-width: 991.98px) {
            .navbar {
                position: static !important;
            }
        }